@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-primary: #0040FB;
  --color-secondary: #00F4CA;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat';
}
